@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #F9F7F7;
    color: #112D4E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    }
/* .container {
    flex: 1 0 auto;
    width: 90%;
    margin: 10px, auto;
    } */
.header {
    background-color: #F9F7F7;
    width: 90%;

    }
.card {
    margin: 30px 0;
    }
.card img {
    max-width: 100%;
    height: auto;
    margin: 30px 0;
    border-radius: 10px;
    }
footer {
    color: #666;
    padding: 20px;
    border-radius: 5px;
    margin-top: auto;
    font-size: 14px;
    width: 100%;
    text-align: center;
    }
label {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 5px;
        padding-left: 10px;
    }
p {
        font-weight: bold;
    }
.btn-primary {
        background-color: #3F72AF;
        border-color: #3F72AF;
    }
.btn-primary:hover {
        background-color: #112D4E;
        border-color: #112D4E;
      }
      